.nav2 {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border: 2px solid black;
  background-color: rgb(46, 45, 45);
}

/* The navigation menu links */
.nav2 a {
  padding: 36px 18px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  font-family: "Inspiration", cursive;
  font-family: "Montserrat", sans-serif;
}

.nav2 h3 {
  color: white;
  font-family: "Inspiration", cursive;
  font-size: 50px;
  justify-content: center;
  display: flex;
}

.mainAbout {
  display: block;
  background-color: #faf6f2;
  display: flex;
  height: 40rem;
  border: 2px solid green;
}

.sub1About img {
  width: 90%;
  height: 90%;
  border: 2px solid red;
}
.sub2About {
  width: 50%;
  text-align: left;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 12rem;
}

.sub2About h3 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  justify-content: center;
}

.experience {
  background-color: #faf6f2;
  display: flex;
  height: 40rem;
}

.skillsAndExperience {
  width: 45%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 12rem;
  border: 2px solid red;
}

.skillsAndExperience h3 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  animation: type 2s steps(40, end) forwards;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  justify-content: center;
  width: 80%;
  height: 7rem;
  border: 2px solid green;
  overflow: wrap;
}

.skillsAndExperience2 {
  display: block;
  width: 45%;
}

.skills {
  margin-left: 5px;
}
.container {
  background-color: rgb(84, 84, 84);
  width: 95%;
}
.skills_html {
  height: 3px;
  width: 90%;
  background-color: red;
}
.skills_css {
  height: 3px;
  width: 90%;
  background-color: rgb(57, 174, 66);
}
.skills_js {
  height: 3px;
  width: 90%;
  background-color: rgb(106, 10, 111);
}
.skills_php {
  height: 3px;
  width: 90%;
  background-color: rgb(3, 77, 73);
}
.experience2 {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.WORK {
  display: flex;
  margin-left: 12rem;
}
.JUNIORWEBDEV h3,
.SENIORWEBDEVELOPER h3 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
}
.JUNIORWEBDEV,
.SENIORWEBDEVELOPER {
  border: 2px solid red;
  height: 40rem;
  width: 30rem;
  margin-left: 2rem;
}

.mainDivContact {
  border: 2px solid red;
  margin-left: 15rem;
  height: 30rem;
}
.mainDivContact p,
.contactDetails,
.subjectMessage {
  margin-left: 20rem;
  border: 2px solid red;
}

.mainDivContact h3 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-size: 4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
}
.contactDetail {
  display: flex;
}

.mainDivContact p {
  font-size: 1.5rem;
}
.nameemail input,
.message input {
  height: 3rem;
  width: 20rem;
}

/* 






















 */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 425px) {
  .mainAbout {
    display: block;
  }
  .nav2 {
    visibility: hidden;
    display: none;
  }
  .navbar {
    visibility: hidden;
    display: none;
  }
  .nav2 a {
    visibility: hidden;
    display: none;
  }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainDivName h1 {
  font-size: 70px;
  color: white;
  padding-bottom: -10px;
  font-family: "Oswald", sans-serif;
}

.mainDivName {
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 80px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
}

.viewProfile {
  display: flex;
  justify-content: center;
}
.viewProfile button {
  font-size: 40px;
  color: white;
  border: 5px solid white;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.viewProfile button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.viewProfile button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.viewProfile button:hover span {
  padding-right: 25px;
}

.viewProfile button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  display: block;
  width: 100%;
  transition: 0.5s;
  height: 610px;
}

/* contact us  */
.mainDivContact {
  justify-content: center;
  margin: 0 auto;
}

.mainDivContact h1 {
  text-align: center;
  font-size: 50px;
}

.subDivContact {
  display: flex;
  justify-content: center;
}

.div1Contact {
  display: inline-block;
}

.fb,
.insta,
.email,
.mobile {
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contactAnimation img {
  height: 400px;
  width: 500px;
}
dfn {
  background: #e9e9e9;
  position: relative;
}
dfn::after {
  content: attr(data-info);
  position: absolute;
  opacity: 0;
  width: 230px;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 80px;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms, top 250ms;
}
dfn:hover {
  z-index: 2;
} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}
dfn:hover::after {
  top: 100px;
}
dfn:hover::before {
  top: 90px;
}

/* about *.........*/

.juniorWebDev h3,
.seniorWebDev h3 {
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
}

.mainDivContact h1 {
  color: #355c7d;
  font-family: "Fira Code", monospace;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 2s steps(40, end) forwards;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  99% {
    border-right: 1px solid orange;
  }
  100% {
    border-right: none;
  }
}

/* Main content */
.main {
  margin-bottom: 30px; /* Add a top margin to avoid content overlay */
}

/* resume */
.body {
  background-color: #faf6f2;
}

.juniorWebDev,
.seniorWebDev {
  width: 45%;
  font-size: 25px;
  text-align: left;
  background-color: #355c7d;
  margin-right: 2px;
  height: 300px;
}
.juniorWebDev p,
.seniorWebDev p {
  font-size: 15px;
  color: #e8e8e8;
  text-align: left;
  padding-left: 5px;
}

.Skills {
  justify-content: space-around;
  object-fit: cover;
}

.junior,
.senior {
  padding-top: 10px;
}

.mainDiv img {
  height: 45rem;
}

@media (max-width: 425px) {
  .mainDivName h1 {
    font-size: 40px;
  }

  .viewProfile {
    display: flex;
  }
  .viewProfile button {
    font-size: 20px;
    color: white;
    border: 3px solid white;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .viewProfile button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .viewProfile button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .viewProfile button:hover span {
    padding-right: 25px;
  }

  .viewProfile button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .outer-wrapper h1 {
    font-size: 20px;
    text-align: center;
  }

  .subDivContact {
    display: block;
  }
  .div1Contact {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
  }
  .contactAnimation img {
    height: 400px;
    width: 400px;
  }
}

